@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto:300,400,700&display=swap');
@import "~bootstrap/scss/functions";
@import "custom/variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import "custom/navbar";

// Not sure if I I will keep this so leaving it here for now.

.flip-card-container {
  perspective: 1500px; // Needs to change based on size of viewport
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.flip-card__face--front {
//  Nothing
}

.flip-card__face--back {
  background-color:white;
  transform: rotateY( 180deg );
}

.flip-card.is-flipped {
  transform: rotateY(180deg);
}

// Timeline stuff

ul.timeline {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul.timeline li {
  display: inline;
  padding-right: 20px;
}

ul.timeline li:last-child {
  display: inline;
  padding-right: 12px;
}

ul.timeline li:before {
  border: 2px solid black;
  background: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  content: '';
  position: absolute;
}

ul.timeline li:hover:before {
  background: lightblue;
}

ul.timeline li:after {
  content: '';
  position: absolute;
  width: 8px;
  margin-left: 12px;
  margin-top: 5px;
  height:2px;
  border: 1px solid black;
}

ul.timeline li:last-child:after {
  content: none;
  width: 0;
}